body {
  background: #e0e0e0;
}

#headerwrap {
	background: url(../img/fondo.png) no-repeat center top;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	min-height: 85vh;
	width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color:rgb(14, 14, 14);
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#headerwrap h4 {
	font-weight: 400;
	color:rgb(14, 14, 14);
}

.glass {
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 90%;
    padding: 2em;
    margin: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
    font-size: small;
    padding: 1em;
}

.footer p {
    margin: auto;
}

@media (max-width: 800px) {
  #headerwrap h1 {
    padding: 0;
    letter-spacing: 4px;
    font-size: calc(1.375rem + 1.5vw);;
    font-weight: bold;
  }
  
  #headerwrap h4 {
    font-weight: 400;
    color:rgb(14, 14, 14);
  }
  
}