.wrapper {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login.panel {
    margin-bottom: 22px;
    background-color: #bac8f9;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.login.panel-default {
    border-color: #bac8f9;
}

.login.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.login.panel-default>.login.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #d3e0e9;
}

.login.panel-body {
    padding: 2em;
    background: #d7dbff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.login-glass {    
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
#botonlogin{
    font-size: 120%;
    width: 100%;
}
#prueba{
    background:#121A32 ;
    opacity: 0.9;
}
#panelprincipal {
    margin: 0%;
    padding: 0%;
    background: url(../img/5.jpg) no-repeat center top;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#textlogin{
    color: white;
  font-size: 140%;
}  
#menu{
    font-size: 110%;
}
.navbar-default .navbar-nav>.open>a.dropdown-toggle{
    background-color: #f4511e !important;
  }